{% extends "base.html" %}
{% block title %}Создать тип транзакции{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h3 class="text-center mb-4">Создание нового типа транзакции</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-success px-4">Сохранить</button>
                        <a href="{% url 'webapp:create_transaction' %}" class="btn btn-secondary px-4">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
